tempora==1.14.0
jaraco.functools==2.0
CherryPy==10.2.1
six==1.12.0
Flask
pillow
qrcode
pygame==1.9.6; sys_platform != 'darwin'
pygame==2.0.0.dev6; sys_platform == 'darwin'
futures
psutil 
unidecode
requests
flask-paginate
