tempora==1.14.0
jaraco.functools==2.0
CherryPy==10.2.1
six==1.12.0
Flask
pillow
qrcode
pygame==1.9.6; sys_platform != 'darwin' and sys_platform != 'win32'
pygame==2.1.0; sys_platform == 'darwin'
pygame==2.0.1; sys_platform == 'win32'
futures
psutil 
unidecode
requests
flask-paginate==2021.10.29
Babel==2.9.1
Flask-Babel==2.0.0