body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#screensaver {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: #111;
}

#dvd {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28vw;
  height: 14vw;
  min-width: 280px;
  min-height: 140px;
  z-index: 11;
  border-radius: 0.7vw;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding: 0.7vw;
  background-image: url("/logo");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: left center;
}

#dvd .qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#dvd .qr-container img {
  width: 8vw;
  min-width: 80px;
  image-rendering: pixelated;
}

#dvd .qr-url {
  font-size: clamp(0.7rem, 1.2vw, 1.1rem);
  margin-top: 0.3vw;
  color: #333;
  font-weight: 500;
}
