{% extends 'base.html' %}

{% block scripts %}
<script>

  $(function () {
    $(".control-box").hide();
    (function getNowPlaying() {
      $.get('{{ url_for("nowplaying") }}', function (data) {

        var obj = JSON.parse(data);
        if (obj.now_playing) {
          $("#now-playing").html(obj.now_playing);
          $(".control-box").show();
        }
        else {
          $("#now-playing").html("Nothing is playing right now.");
          $(".control-box").hide();
        }


        if (obj.up_next) {
          $("#up-next").html(obj.up_next);
        }
        else {
          $("#up-next").html("No song is queued.");
        }

        if (obj.is_pause) {
          $("#pause_resume").removeClass("icon-pause");
          $("#pause_resume").addClass("icon-play");
          $(".playing_gif").attr("src", "{{  url_for('static', filename='images/now-playing.png') }}");
        }
        else {
          $("#pause_resume").removeClass("icon-play");
          $("#pause_resume").addClass("icon-pause");
          $(".playing_gif").attr("src", "{{  url_for('static', filename='images/now-playing.gif') }}");
        }


        setTimeout(getNowPlaying, 1500);
      });


    })();

  });
</script>
{% endblock %}

{% block header %}
<h1>{% block title %}Now Playing <img class="playing_gif control-box" width="40"
    src="{{  url_for('static', filename='images/now-playing.png') }}">{% endblock %} </h1>
{% endblock %}

{% block content %}

<p class="is-size-4 has-text-warning" id="now-playing">

</p>

<hr>
<h3>Next Song</h3>
<p id="up-next" class="has-text-warning"></p>
<hr>

<div class="has-background-black-bis box control-box" style="max-width: 500px">
  <h4>Player Control</h4>
  <p class="is-size-3	">
    <a title="Restart Song" href="{{ url_for('restart') }}"
      onclick="return confirm('Are you sure you want to restart this track?')"><i class="icon icon-to-start"></i>
    </a>&nbsp;&nbsp;
    <a title="Play/Pause" href="{{ url_for('pause') }}"><i id="pause_resume" class="icon icon-pause"></i>
    </a>&nbsp;&nbsp;
    <a title="Stop Current Song" href="{{ url_for('skip') }}"
      onclick="return confirm('Are you sure you want to skip this track? If you didn\'t add this song, ask permission first!')"><i
        class="icon icon-to-end"></i> </a>&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="is-pulled-right">
      <a title="Volume Down" href="{{ url_for('vol_down') }}"><i class="icon icon-volume-down"></i> </a>&nbsp;&nbsp;
      <a title="Volume Up" href="{{ url_for('vol_up') }}"><i class="icon icon-volume-up"></i> </a>
    </span>

  </p>

</div>

{% endblock %}