{% extends 'base.html' %}

{% block scripts %}
<script>



$( function() {

  (function getNowPlaying(){
      $.get('{{ url_for("nowplaying") }}', function(data) {
          //alert(data);  // process results here
          //console.log("Current song: " + data);
          if (data) {
            //$("#now-playing").html(data);
            var obj = JSON.parse(data);
            $("#now-playing").html(obj.now_playing);
            if (obj.up_next) {
            	$("#up-next").html(obj.up_next);
            }
            else {
	            $("#up-next").html("No song is queued.");
            }
          }
          else {
            $("#now-playing").html("Nothing is playing right now. ");
            $("#up-next").html("No song is queued.");
          }

          setTimeout(getNowPlaying,1500);
      });


  })();

});
</script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Now Playing{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p class="is-size-4 has-text-warning" id="now-playing">
    <!-- {% if now_playing %}
    {{now_playing}}
    {% else %}
    Nothing playing right now
    {% endif %} -->
    Nothing is playing right now. 
  </p>

<!--
<button class="button"><a href="{{ url_for('restart') }}">&#x21A9;&#xFE0F;</a></button>
  <button class="button"><a href="{{ url_for('pause') }}">&#x23EF;&#xFE0F;</a></button>
  <button class="button"><a href="{{ url_for('skip') }}">&#x23ED;&#xFE0F;</a></button>
    <button class="button"><a href="{{ url_for('vol_down') }}">vol-</a></button>
  <button class="button"><a href="{{ url_for('vol_up') }}">vol+</a></button>
-->
<p class="is-size-3	">
  <a href="{{ url_for('restart') }}">&#x23EE;&#xFE0F;</a>&nbsp;&nbsp;
  <a href="{{ url_for('pause') }}">&#x23EF;&#xFE0F;</a>&nbsp;&nbsp;
  <a href="{{ url_for('skip') }}">&#x23ED;&#xFE0F;</a>&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{{ url_for('vol_down') }}">&#x1F508;</a>&nbsp;&nbsp;
  <a href="{{ url_for('vol_up') }}">&#x1F50A;</a>&nbsp;&nbsp;

</p>
  
  <hr>
  <h2>Next</h2>
  <p id="up-next" class="has-text-warning"></p>

  
{% endblock %}
