{% extends 'base.html' %} {% block scripts %}
<script>
  $(function () {
    $("#quit-link").click(function (e) {
      e.preventDefault();
      if (window.confirm("Are you sure you want to quit?")) {
        location.href = this.href;
      }
    });

    $("#shutdown-link").click(function (e) {
      e.preventDefault();
      if (window.confirm("Are you sure you want to shut down?")) {
        location.href = this.href;
      }
    });

    $("#restart-link").click(function (e) {
      e.preventDefault();
      if (window.confirm("Are you sure you want to reboot?")) {
        location.href = this.href;
      }
    });

    $("#update-ytdl-link").click(function (e) {
      e.preventDefault();
      if (
        window.confirm(
          "Are you sure you want to update Youtube-dl right now? Current and pending downloads may fail."
        )
      ) {
        location.href = this.href;
      }
    });

    $("#expand-link").click(function (e) {
      e.preventDefault();
      if (window.confirm("Are you sure you want to expand the filesystem? This will reboot your raspberry pi.")) {
        location.href = this.href;
      }
    });
  });
</script>
{% endblock %} {% block header %}
<h1>{% block title %}Information{% endblock %}</h1>
{% endblock %} {% block content %}

<p>URL of {{site_title}}:</p>

<p class="is-size-4 has-text-warning">{{ url }}</p>
<p>Handy URL QR code to share with a pal:</p>
<img id="qr-img" width="300px" src="{{ url_for('qrcode') }}" style="image-rendering: pixelated" />

<hr />

<h1>System Info</h1>
<ul>
  <li>CPU: {{ cpu }}</li>
  <li>Disk Usage: {{ disk }}</li>
  <li>Memory: {{ memory }}</li>
  <li>Youtube-dl version: {{ youtubedl_version }}</li>
  <li>Pikaraoke version: {{ pikaraoke_version }}</li>
</ul>

<hr />

{% if admin %}
<h1>Updates</h1>
<p>Refresh the song list:</p> 
<ul>
  <li>
    <a href="/refresh"
      >Rescan song directory</a
    >
  </li>
</ul>
<p class="help">You should only need to do this if you manually copied files to the download directory while pikaraoke was running.</p>

<p>If downloads or searches stopped working, updating youtube-dl will probably fix it. The current installed version is: "{{ youtubedl_version }}"</p> 
<ul>
  <li>
    <a id="update-ytdl-link" href="{{ url_for('update_ytdl') }}"
      >Update youtube-dl</a
    >
  </li>
</ul>
<p class="help">This update link above may fail if you don't have proper file permissions. Check the pikaraoke log for errors. </p>

<h1>Shutdown</h1>
<p>
  Don't just pull the plug! Always shut down your server properly to avoid data
  corruption.
</p>
<ul>
  <li><a id="quit-link" href="{{ url_for('quit') }}">Quit pikaraoke</a></li>
  {% if is_pi %}
  <li><a id="restart-link" href="{{ url_for('reboot') }}">Reboot System</a></li>
  <li>
    <a id="shutdown-link" href="{{ url_for('shutdown') }}">Shutdown System</a>
  </li>
  {% endif %}
</ul>

{% if is_pi %}
<h1>Other</h1>
<a id="expand-link" href="{{ url_for('expand_fs') }}">Expand Raspberry Pi filesystem</a></li>
<p class="help">If you just installed the pre-built pikaraoke pi image and your SD card is larger than 4GB, you may want to expand the filesystem to utilize the remaining space. You only need to do this once. This will reboot the system.</p>
{% endif %}

<hr/>
{% if admin_enabled %}
<p>Disable admin mode: <a href="{{ url_for('logout') }}">log out</a></p>
{% endif %}
{% else %}
<p>Enable admin mode: <a href="{{ url_for('login') }}">log in</a></p>
{% endif %}

{% endblock %}
