{% extends 'base.html' %} {% block scripts %}
<script>
  var mouseTimer = null,
    cursorVisible = true;

  var isPlaying = false;
  var isPaused = false;
  var nowPlayingInterval = null;
  var nowPlayingHash = null;
  var showMenu = false;
  var menuButtonVisible = false;
  const url = `http://${window.location.host}`;

  function startNowPlayingPolling() {
    nowPlayingInterval = setInterval(getNowPlaying, 1000);
  }

  function handleConfirmation() {
    $("#permissions-modal").removeClass("is-active");
  }

  function clearCommand() {
    $.get('{{ url_for("clear_command") }}');
  }

  function endSong() {
    $("#video-container").hide();
    $.get('{{ url_for("end_song") }}');
    setTimeout(() => (isPlaying = false), 1100);
  }

  function executeCommand(callback) {
    callback();
    clearCommand();
    setTimeout(() => getNowPlaying(), 100);
  }

  function getNowPlaying() {
    $.get('{{ url_for("nowplaying") }}', function (data) {
      var obj = JSON.parse(data);
      if (obj.hash != nowPlayingHash) {
        nowPlayingHash = obj.hash;
        console.log(obj);

        // render the queue details in top right
        if (obj.up_next) {
          // {# MSG: Label for the next song to be played in the queue. #}
          up_next_text = "{{ _('Up next:') }}";
          // {# MSG: Label of the singer for next song to be played in the queue. (Who added it to the queue.) #}
          next_singer_text = "{{ _('Next singer:') }}";
          $("#up-next-top").html(`
           <b class="has-text-white">${up_next_text} </b>${obj.up_next}`);
          $("#up-next-bottom").html(
            `<b class="has-text-white">${next_singer_text} </b><i class="icon icon-mic-1" title="Next singer"></i>${obj.next_user}`
          );
        } else {
          $("#up-next-top").html(
            // {# MSG: Message when the queue of songs is empty.  Shown instead of what the next song is. #}
            `<span class="has-text-warning">{{ _('No song is queued.') }}</span>`
          );
          $("#up-next-bottom").html("");
        }

        const video = $("#video")[0];

        // Start playback if a valid now_playing_url is provided
        if (obj.now_playing_url && !isPlaying) {
          isPlaying = true;
          $("#video-source").attr("src", obj.now_playing_url);
          video.load();
          video.play();
        }

        // Handle vol up
        if (obj.now_playing_command == "vol_up" && isPlaying) {
          executeCommand(() => {
            const volume = video.volume;
            video.volume = Math.min(1, volume + 0.1);
          });
        }

        // Handle vol down
        if (obj.now_playing_command == "vol_down" && isPlaying) {
          executeCommand(() => {
            const volume = video.volume;
            video.volume = Math.max(0, volume - 0.1);
          });
        }

        // Handle pause
        if (obj.now_playing_command == "pause" && isPlaying) {
          executeCommand(() => {
            isPaused ? video.play() : video.pause();
            isPaused = !isPaused;
          });
        }

        // Handle skip
        if (obj.now_playing_command == "skip" && isPlaying) {
          executeCommand(() => {
            video.pause();
            endSong();
          });
        }

        // Handle restart
        if (obj.now_playing_command == "restart" && isPlaying) {
          executeCommand(() => {
            video.currentTime = 0;
          });
        }
      }
    });
  }

  $(function () {
    $("#video-container").hide();

    if ("{{ overlay }}") {
      $("#bottom-container").addClass("overlay");
      $("#top-container").addClass("overlay");
    }
    startNowPlayingPolling();

    //hide mouse cursor after 2 seconds of inactivity
    document.onmousemove = function () {
      if (mouseTimer) {
        window.clearTimeout(mouseTimer);
      }
      if (!cursorVisible) {
        document.body.style.cursor = "default";
        cursorVisible = true;
      }
      if (!menuButtonVisible) {
        $("#menu a").addClass("visible").removeClass("hidden");
        menuButtonVisible = true;
      }
      mouseTimer = window.setTimeout(() => {
        mouseTimer = null;
        document.body.style.cursor = "none";
        cursorVisible = false;
        $("#menu a").addClass("hidden").removeClass("visible");
        menuButtonVisible = false;
      }, 5000);
    };

    //Video status events for communicating state back to server
    $("#video")[0].addEventListener("play", () => {
      $("#video-container").show();
      $.get('{{ url_for("start_song") }}');
    });
    $("#video")[0].addEventListener("ended", () => {
      endSong();
    });

    //make sure we end the song if the user closes the window or leaves page
    window.addEventListener("beforeunload", function (event) {
      endSong();
    });

    //open menu iframe
    $("#menu a").click(function () {
      if (showMenu) {
        $("#menu-container").hide();
        $("#menu-container iframe").attr("src", "");
        showMenu = false;
      } else {
        setUserCookie();
        $("#menu-container").show();
        $("#menu-container iframe").attr("src", url);
        showMenu = true;
      }
    });
  });
</script>
{% endblock %} {% block body %}

<div id="top-container">
  <div id="up-next" class="has-text-warning is-size-4 stroke">
    <p id="up-next-top" style="margin-bottom: 5px"></p>
    <p id="up-next-bottom" class="has-text-success has-text-right"></p>
  </div>
</div>

<div id="logo-container">
  <div>
    <img class="logo" src="{{ url_for('logo') }}" width="500px" alt="logo" />
  </div>
</div>

<div id="bottom-container">
  {% if not hide_ip %}
  <img
    src="{{ url_for('qrcode') }}"
    width="100px"
    style="image-rendering: pixelated"
    alt="qrcode"
  />
  <div class="is-size-5 stroke" style="margin-left: 3px">
    &nbsp;Connect at: {{ url }}
  </div>
  {% endif %}
</div>

<div id="video-container" class="video-container">
  <video id="video" width="100%" height="100%">
    <source id="video-source" type="video/mp4" src="" />
  </video>
</div>

<div id="permissions-modal" class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p>
      {# MSG: Prompt for interaction in order to enable video autoplay. #} {%
      trans %}Due to limititations with browser permissions, you must interact
      with the page once before it allows autoplay of videos. Pikaraoke will not
      play otherwise. Click the button below to confirm.{% endtrans %}
    </p>
    <div class="has-text-centered">
      <button
        id="permissions-button"
        class="button is-success"
        style="margin-top: 10px"
        onClick="handleConfirmation()"
      >
        Confirm
      </button>
    </div>
  </div>
</div>

<div id="menu">
  <a
    role="button"
    class="navbar-burger"
    aria-label="menu"
    aria-expanded="false"
    data-target="navbarBasicExample"
    style="display: block; width: 20px; height: 30px"
  >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
</div>
<div id="menu-container" class="">
  <iframe src="{{ url }}"></iframe>
</div>

<style>
  html {
    overflow-y: hidden;
  }
  body {
    background-color: black;
  }
  #top-container,
  #bottom-container {
    position: absolute;
    z-index: 1;
  }
  #top-container {
    top: 10px;
    right: 20px;
  }
  #bottom-container {
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: flex-end;
  }
  .video-container {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
  }
  body {
    background-color: black;
  }
  #logo-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  #menu {
    position: absolute;
    z-index: 5;
    top: 10px;
    left: 20px;
  }
  #menu-container {
    position: absolute;
    z-index: 3;
    top: 40px;
    left: 20px;
    display: none;
  }
  #menu-container iframe {
    width: 600px;
    height: 75vh;
  }
  .visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
  }
  .overlay {
    z-index: 3 !important;
  }
  .stroke {
    text-shadow: 2px 0.75px black;
  }
</style>

{% endblock %}
