Babel==2.9.1
CherryPy
ffmpeg-python
Flask==2.2.5
Flask-Babel==2.0.0
flask-paginate==2021.10.29
jinja2==3.0.3 # Avoid escape issue: https://github.com/sphinx-doc/sphinx/issues/10289
psutil
qrcode
requests
selenium==4.21.0
unidecode
yt-dlp
