name: CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
    - master

env:
  PYTHON_VERSION: '3.10'

jobs:
  code-quality:
    runs-on: ubuntu-latest
    env:
      SKIP: no-commit-to-branch  # skips commit to main check
      PRE_COMMIT_CONFIG: code_quality/.pre-commit-config.yaml
      VENV: venv
      VENV_ACTIVATE: venv/bin/activate

    steps:
    - name: Check out code
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  # V4.1.7
      with:
        token: ${{ github.token }}

    - name: Cache pre-commit dependencies
      uses: actions/cache@v4
      id: cache
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ hashFiles(env.PRE_COMMIT_CONFIG) }}
        restore-keys: |
          ${{ runner.os }}-pre-commit-

    - name: Install Requirements
      run: python3 -m pip install docstr-coverage==2.3.2 pre-commit==3.7.1

    - name: Code Quality
      run: |
        pre-commit run --config ${{ env.PRE_COMMIT_CONFIG }} --all-files

    - name: Docstring Coverage
      run: |
        mkdir -p docs/badges/ docstr
        mv code_quality/.docstr.yaml . # --config option didn't work
        docstr-coverage 2>&1 | tee docstr/docstring_coverage.txt
        ls docs/badges

  commitlint:
    runs-on: ubuntu-latest
    name: Commitlint
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Required to get all commits for linting
    - name: Run commitlint
      uses: wagoid/commitlint-github-action@v6

  smoketest:
    runs-on: ${{ matrix.os }}
    name: Smoke Test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Preload ffmpeg (MacOS)
      if: runner.os == 'macOS'
      run: brew install ffmpeg # override ffmpeg-full install for mac because it adds minutes to the test job

    - name: Install, launch and verify Pikaraoke (Unix)
      if: runner.os != 'Windows'
      run: ./build_scripts/ci/smoketest.sh

    - name: Install, launch and verify Pikaraoke (Windows)
      if: runner.os == 'Windows'
      shell: powershell
      run: ./build_scripts/ci/smoketest.ps1

  unit-tests:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v4

    - name: Run tests
      run: uv run pytest tests/ -v --cov=pikaraoke --cov-report=term-missing --cov-report=xml:coverage.xml
